In [2]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

In [4]:
r = requests.get("https://www.afl.com.au/match-centre/2019/20/bl-v-wb", verify=False)

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [5]:
r

In [6]:
r.text[1:5000]

'!DOCTYPE html>\r\n<html xmlns="http://www.w3.org/1999/xhtml">\r\n  <head>\r\n\r\n    <title>Brisbane Lions Vs Western Bulldogs - Match Centre - AFL.com.au</title>\n\n<link rel="icon" href="/static-resources/favicon/afl.ico?v=96a3413d06" type="image/x-icon" />\n<link rel="shortcut icon" href="/static-resources/favicon/afl.ico?v=96a3413d06" type="image/x-icon" />\n<link rel="canonical" href="https://www.afl.com.au/match-centre/2019/20/bl-v-wb" />\n<link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.afl.com.au/match-centre/2019/20/bl-v-wb" />\n<link rel="apple-touch-icon" href="/static-resources/apple-touch-icons/afl/apple-touch-icon.png?v=102513148c" />\n<link rel="apple-touch-icon" sizes="57x57" href="/static-resources/apple-touch-icons/afl/apple-touch-icon-57x57.png?v=102513148c" />\n<link rel="apple-touch-icon" sizes="72x72" href="/static-resources/apple-touch-icons/afl/apple-touch-icon-72x72.png?v=38cefd7408" />\n<link rel="apple-touch-icon" sizes="76x76" href="/static-resources/apple-touch-icons/afl/apple-touch-icon-76x76.png?v=540d6d967e" />\n<link rel="apple-touch-icon" sizes="114x114" href="/static-resources/apple-touch-icons/afl/apple-touch-icon-114x114.png?v=727aa2bbdd" />\n<link rel="apple-touch-icon" sizes="120x120" href="/static-resources/apple-touch-icons/afl/apple-touch-icon-120x120.png?v=b53f453d05" />\n<link rel="apple-touch-icon" sizes="144x144" href="/static-resources/apple-touch-icons/afl/apple-touch-icon-144x144.png?v=22ceee9022" />\n<link rel="apple-touch-icon" sizes="152x152" href="/static-resources/apple-touch-icons/afl/apple-touch-icon-152x152.png?v=d7855fd56c" />  \n\n<meta charset="utf-8">\n<meta http-equiv="X-UA-Compatible" content="IE=edge">\n<script>\nwindow.dataLayer = window.dataLayer || [];\nwindow.dataLayer.push(\n{\n  "matchChampionID": "CD_M20190142009",\n  "siteSection": "match-centre",\n  "matchDate": "2019-08-04",\n  "matchSeasonMajorSponsor": "Toyota",\n  "matchSeasonYear": 2019,\n  "matchRoundName": "Round 20",\n  "siteDelivery": "non-responsive",\n  "competition": "AFL",\n  "matchHomeTeam": "BL",\n  "pageName": "/match-centre/2019/20/bl-v-wb",\n  "digitalHierLevel3": "AFL Media",\n  "matchRoundChampionID": "CD_R201901420",\n  "digitalHierLevel2": "Elite",\n  "matchStatus": "Post",\n  "digitalHierLevel1": "Digital Rights Network",\n  "event": "pageview",\n  "matchRoundType": "Round",\n  "contentType": "match",\n  "matchName": "Brisbane Lions Vs Western Bulldogs",\n  "matchAwayTeam": "WB",\n  "matchSeasonName": "AFL Premiership 2019",\n  "matchTime": "16:40:00 AEST",\n  "matchStartTime": "16:40:00 AEST",\n  "timeStamp": 1565229758537,\n  "matchSeasonID": "89866f7ec9cc6610VgnVCM100000ac05030aRCRD",\n  "environment": "PROD",\n  "matchRoundID": "f7966f7ec9cc6610VgnVCM100000ac05030aRCRD",\n  "matchSeasonChampionID": "CD_S2019014",\n  "matchRoundNo": 20,\n  "matchVenueID": "CD_V20",\n  "matchSeasonType": "Season",\n  "matchID": "5d354c93aacc6610VgnVCM100000ac05030aRCRD"\n}\n);\n</script>\n<script type="text/javascript">\n\tvar rec_vcmGuid = "5d354c93aacc6610VgnVCM100000ac05030aRCRD";\n\tvar rec_site = "AFL";\n\tvar rec_category = "unassigned-content/media/matches/";\n\tvar serverTimeStamp = "1565229758537";\n\t\twindow.mobileAndTabletCheck = function() { var check = false; (function(a){if(/(android|bb\\d+|meego).+mobile|avantgo|bada\\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\\-(n|u)|c55\\/|capi|ccwa|cdm\\-|cell|chtm|cldc|cmd\\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\\-s|devi|dica|dmob|do(c|p)o|ds(12|\\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\\-|_)|g1 u|g560|gene|gf\\-5|g\\-mo|go(\\.w|od)|gr(ad|un)|haie|hcit|hd\\-(m|p|t)|hei\\-|hi(pt|ta)|hp( i|ip)|hs\\-c|ht(c(\\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\\-(20|go|ma)|i230|iac( |\\-|\\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\\/)|klon|kpt |kwc\\-|kyo(c|k)|le(no|xi)|lg( g|\\/(k|l|u)|50|54|\\-[a-w])|libw|lynx|m1\\-w|m3ga|m50\\/|ma(te|ui|xo)|mc(01|21|ca)|m\\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\\-2|po(ck|rt|se)|prox|psio|pt\\-g|qa\\-a|qc(07|12|21|32|60|\\-[2-7]|i\\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\\-|oo|p\\-)|sdk\\/|se(c(\\-|0|1)|47|mc|nd|ri)|sgh\\-|shar|sie(\\-|m)|sk\\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\\-|v\\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\\-|tdg\\-|tel(i|m)|tim\\-|t\\-mo|to(pl|sh)|ts(70|m\\-'

r.content

In [7]:
r.headers

{'Content-Type': 'text/html;charset=UTF-8', 'Content-Length': '66470', 'X-Amz-Cf-Pop': 'SYD4-C1', 'Age': '1308', 'X-OneAgent-JS-Injection': 'true', 'Date': 'Thu, 08 Aug 2019 02:24:29 GMT', 'X-Amz-Cf-Id': 'vsi8nf1nuYlTkmfbzztIlNDekhsCReQ-MhgNsbGEJUM5ohbJL12vuw==', 'Cache-Control': 'public, max-age=302', 'X-Varnish': '97226301 97196153', 'Vary': 'Accept-Encoding', 'Server': 'nginx', 'Set-Cookie': 'dtCookie=1$9D790895C324817C57F0893D48EFBF1E; Path=/; Domain=.aflprod.com', 'Content-Encoding': 'gzip', 'grace': 'normal(limited)', 'V-Cache-Hit': 'Hit', 'Via': 'HTTP/1.1 proxy10730', 'X-Instart-Request-ID': '9246530616093500420:FLQ03-CPVNPPRY03:1565231069:0', 'Keep-Alive': '60'}

In [8]:
r.request

In [12]:
r.encoding

'UTF-8'

In [54]:
filename = "C:/cygwin64/home/br075246/web_scraping/bl-v-wb.html"
file = open(filename, "w")
file.write(str(r.text.encode("utf-8")))
file.close()

In [9]:
soup = BeautifulSoup(r.text)
#print(soup)

In [56]:
text = open(filename, 'r').read()
soup = BeautifulSoup(text, 'html.parser')
#print(soup)

In [10]:
tables = soup.find_all('table', attrs={'class':'zebra player'})

In [11]:
table = tables[0]

In [12]:
table

<table class="zebra player" id="homeTeam-basic">
<col class="position"/>
<col class="K"/>
<col class="H"/>
<col class="D"/>
<col class="M"/>
<col class="HO"/>
<col class="FF"/>
<col class="FA"/>
<col class="T"/>
<col class="G"/>
<col class="B"/>
<col class="DT"/>
<thead>
<tr>
<th class="player"><span>Player</span>
</th>
<th><span>K</span>
</th>
<th><span>H</span>
</th>
<th><span>D</span>
</th>
<th><span>M</span>
</th>
<th><span>HO</span>
</th>
<th><span>FF</span>
</th>
<th><span>FA</span>
</th>
<th><span>T</span>
</th>
<th><span>G</span>
</th>
<th><span>B</span>
</th>
<th><span>AF</span>
</th>
</tr>
</thead>
<tbody>
<tr>
<td class="name">
<span>1</span>
<span class="full-name">Mitch Robinson</span>
</td>
<td>18</td>
<td>6</td>
<td>24</td>
<td>8</td>
<td>0</td>
<td>2</td>
<td>0</td>
<td>6</td>
<td>2</td>
<td>1</td>
<td>129</td>
</tr>
<tr>
<td class="name">
<span>2</span>
<span class="full-name">Stefan Martin</span>
</td>
<td>11</td>
<td>10</td>
<td>21</td>
<td>5</td>
<td>32</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>103</td>
</tr>
<tr>
<td class="name">
<span>3</span>
<span class="full-name">Jarryd Lyons</span>
</td>
<td>11</td>
<td>5</td>
<td>16</td>
<td>2</td>
<td>0</td>
<td>2</td>
<td>1</td>
<td>12</td>
<td>0</td>
<td>0</td>
<td>96</td>
</tr>
<tr>
<td class="name">
<span>4</span>
<span class="full-name">Lachie Neale</span>
</td>
<td>12</td>
<td>8</td>
<td>20</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>8</td>
<td>1</td>
<td>0</td>
<td>91</td>
</tr>
<tr>
<td class="name">
<span>5</span>
<span class="full-name">Charles Cameron</span>
</td>
<td>13</td>
<td>0</td>
<td>13</td>
<td>7</td>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>0</td>
<td>91</td>
</tr>
<tr>
<td class="name">
<span>6</span>
<span class="full-name">Eric Hipwood</span>
</td>
<td>12</td>
<td>3</td>
<td>15</td>
<td>10</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>90</td>
</tr>
<tr>
<td class="name">
<span>7</span>
<span class="full-name">Allen Christensen</span>
</td>
<td>10</td>
<td>6</td>
<td>16</td>
<td>5</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>5</td>
<td>2</td>
<td>1</td>
<td>90</td>
</tr>
<tr>
<td class="name">
<span>8</span>
<span class="full-name">Jarrod Berry</span>
</td>
<td>16</td>
<td>9</td>
<td>25</td>
<td>6</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>90</td>
</tr>
<tr>
<td class="name">
<span>9</span>
<span class="full-name">Oscar McInerney</span>
</td>
<td>4</td>
<td>5</td>
<td>9</td>
<td>4</td>
<td>19</td>
<td>0</td>
<td>0</td>
<td>6</td>
<td>1</td>
<td>0</td>
<td>83</td>
</tr>
<tr>
<td class="name">
<span>10</span>
<span class="full-name">Alex Witherden</span>
</td>
<td>10</td>
<td>6</td>
<td>16</td>
<td>6</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>3</td>
<td>0</td>
<td>0</td>
<td>73</td>
</tr>
<tr>
<td class="name">
<span>11</span>
<span class="full-name">Noah Answerth</span>
</td>
<td>12</td>
<td>6</td>
<td>18</td>
<td>6</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>70</td>
</tr>
<tr>
<td class="name">
<span>12</span>
<span class="full-name">Darcy Gardiner</span>
</td>
<td>13</td>
<td>1</td>
<td>14</td>
<td>5</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>0</td>
<td>0</td>
<td>66</td>
</tr>
<tr>
<td class="name">
<span>13</span>
<span class="full-name">Daniel Rich</span>
</td>
<td>17</td>
<td>0</td>
<td>17</td>
<td>3</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>66</td>
</tr>
<tr>
<td class="name">
<span>14</span>
<span class="full-name">Hugh McCluggage</span>
</td>
<td>9</td>
<td>7</td>
<td>16</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>2</td>
<td>2</td>
<td>1</td>
<td>0</td>
<td>61</td>
</tr>
<tr>
<td class="name">
<span>15</span>
<span class="full-name">Luke Hodge</span>
</td>
<td>12</td>
<td>2</td>
<td>14</td>
<td>5</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>57</td>
</tr>
<tr>
<td class="name">
<span>16</span>
<span class="full-name">Cam Rayner</span>
</td>
<td>6</td>
<td>2</td>
<td>8</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>4</td>
<td>1</td>
<td>2</td>
<td>55</td>
</tr>
<tr>
<td class="name">
<span>17</span>
<span class="full-name">Dayne Zorko</span>
</td>
<td>10</td>
<td>1</td>
<td>11</td>
<td>3</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>3</td>
<td>0</td>
<td>0</td>
<td>53</td>
</tr>
<tr>
<td class="name">
<span>18</span>
<span class="full-name">Lincoln McCarthy</span>
</td>
<td>5</td>
<td>4</td>
<td>9</td>
<td>3</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>4</td>
<td>0</td>
<td>2</td>
<td>50</td>
</tr>
<tr>
<td class="name">
<span>19</span>
<span class="full-name">Harris Andrews</span>
</td>
<td>8</td>
<td>4</td>
<td>12</td>
<td>3</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>45</td>
</tr>
<tr>
<td class="name">
<span>20</span>
<span class="full-name">Daniel McStay</span>
</td>
<td>4</td>
<td>7</td>
<td>11</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>43</td>
</tr>
<tr>
<td class="name">
<span>21</span>
<span class="full-name">Zac Bailey</span>
</td>
<td>4</td>
<td>6</td>
<td>10</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>33</td>
</tr>
<tr>
<td class="name">
<span>22</span>
<span class="full-name">Marcus Adams</span>
</td>
<td>3</td>
<td>3</td>
<td>6</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>25</td>
</tr>
</tbody>
</table>

In [13]:
name = table.attrs['id']
rows = table.find_all('tr')
list = []

row = rows[0]
row

<tr>
<th class="player"><span>Player</span>
</th>
<th><span>K</span>
</th>
<th><span>H</span>
</th>
<th><span>D</span>
</th>
<th><span>M</span>
</th>
<th><span>HO</span>
</th>
<th><span>FF</span>
</th>
<th><span>FA</span>
</th>
<th><span>T</span>
</th>
<th><span>G</span>
</th>
<th><span>B</span>
</th>
<th><span>AF</span>
</th>
</tr>

In [79]:
with open("bl-v-wb.csv", "wt+", newline="") as f:
   writer = csv.writer(f)
   for row in rows:    
      csv_row = []
      for cell in row.findAll(["td", "th"]):
          name = cell.find('span', attrs={'class':'full-name'})
          try:
              name = name.text.replace('\xa0', ' ')
              csv_row.append(name)
          except:
              txt = cell.text.strip()
              txt = txt.replace('\\n', '')
              txt = txt.replace('\\t', '')
              csv_row.append(txt)
              #csv_row.append(cell.text.strip())
      print(csv_row)
      writer.writerow(csv_row)

['Player', 'K', 'H', 'D', 'M', 'HO', 'FF', 'FA', 'T', 'G', 'B', 'AF']
['Mitch Robinson', '18', '6', '24', '8', '0', '2', '0', '6', '2', '1', '129']
['Stefan Martin', '11', '10', '21', '5', '32', '1', '1', '1', '0', '1', '103']
['Jarryd Lyons', '11', '5', '16', '2', '0', '2', '1', '12', '0', '0', '96']
['Lachie Neale', '12', '8', '20', '1', '0', '1', '1', '8', '1', '0', '91']
['Charles Cameron', '13', '0', '13', '7', '0', '1', '2', '3', '4', '0', '91']
['Eric Hipwood', '12', '3', '15', '10', '0', '1', '0', '1', '2', '1', '90']
['Allen Christensen', '10', '6', '16', '5', '0', '0', '0', '5', '2', '1', '90']
['Jarrod Berry', '16', '9', '25', '6', '0', '1', '1', '2', '0', '0', '90']
['Oscar McInerney', '4', '5', '9', '4', '19', '0', '0', '6', '1', '0', '83']
['Alex Witherden', '10', '6', '16', '6', '0', '1', '0', '3', '0', '0', '73']
['Noah Answerth', '12', '6', '18', '6', '0', '0', '0', '1', '0', '0', '70']
['Darcy Gardiner', '13', '1', '14', '5', '0', '1', '1', '3', '0', '0', '66']
['Daniel Rich', '17', '0', '17', '3', '0', '1', '1', '2', '0', '0', '66']
['Hugh McCluggage', '9', '7', '16', '4', '0', '0', '2', '2', '1', '0', '61']
['Luke Hodge', '12', '2', '14', '5', '0', '1', '1', '1', '0', '0', '57']
['Cam Rayner', '6', '2', '8', '4', '0', '0', '1', '4', '1', '2', '55']
['Dayne Zorko', '10', '1', '11', '3', '0', '0', '0', '3', '0', '0', '53']
['Lincoln McCarthy', '5', '4', '9', '3', '0', '0', '0', '4', '0', '2', '50']
['Harris Andrews', '8', '4', '12', '3', '0', '0', '0', '1', '0', '0', '45']
['Daniel McStay', '4', '7', '11', '4', '0', '0', '0', '1', '0', '1', '43']
['Zac Bailey', '4', '6', '10', '0', '0', '1', '0', '2', '0', '0', '33']
['Marcus Adams', '3', '3', '6', '2', '0', '0', '0', '1', '0', '0', '25']

In [15]:
data = pd.read_csv("bl-v-wb.csv")

In [16]:
data

               Player   K   H   D   M  HO  FF  FA   T  G  B   AF
0      Mitch Robinson  18   6  24   8   0   2   0   6  2  1  129
1       Stefan Martin  11  10  21   5  32   1   1   1  0  1  103
2        Jarryd Lyons  11   5  16   2   0   2   1  12  0  0   96
3        Lachie Neale  12   8  20   1   0   1   1   8  1  0   91
4     Charles Cameron  13   0  13   7   0   1   2   3  4  0   91
5        Eric Hipwood  12   3  15  10   0   1   0   1  2  1   90
6   Allen Christensen  10   6  16   5   0   0   0   5  2  1   90
7        Jarrod Berry  16   9  25   6   0   1   1   2  0  0   90
8     Oscar McInerney   4   5   9   4  19   0   0   6  1  0   83
9      Alex Witherden  10   6  16   6   0   1   0   3  0  0   73
10      Noah Answerth  12   6  18   6   0   0   0   1  0  0   70
11     Darcy Gardiner  13   1  14   5   0   1   1   3  0  0   66
12        Daniel Rich  17   0  17   3   0   1   1   2  0  0   66
13    Hugh McCluggage   9   7  16   4   0   0   2   2  1  0   61
14         Luke Hodge  12   2  14   5   0   1   1   1  0  0   57
15         Cam Rayner   6   2   8   4   0   0   1   4  1  2   55
16        Dayne Zorko  10   1  11   3   0   0   0   3  0  0   53
17   Lincoln McCarthy   5   4   9   3   0   0   0   4  0  2   50
18     Harris Andrews   8   4  12   3   0   0   0   1  0  0   45
19      Daniel McStay   4   7  11   4   0   0   0   1  0  1   43
20         Zac Bailey   4   6  10   0   0   1   0   2  0  0   33
21       Marcus Adams   3   3   6   2   0   0   0   1  0  0   25

In [17]:
data['K'].mean()

10.0

In [18]:
 data.describe()

,K,H,D,M,HO,FF,FA,T,G,B,AF
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,10.000000,4.590909,14.590909,4.363636,2.318182,0.636364,0.545455,3.272727,0.636364,0.409091,70.909091
std,4.298394,2.839502,5.020521,2.300009,7.766757,0.657952,0.670982,2.763397,1.048602,0.666125,25.290520
min,3.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,25.000000
25%,6.500000,2.250000,11.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,53.500000
50%,10.500000,5.000000,14.500000,4.000000,0.000000,1.000000,0.000000,2.500000,0.000000,0.000000,68.000000
75%,12.000000,6.000000,16.750000,5.750000,0.000000,1.000000,1.000000,4.000000,1.000000,1.000000,90.000000
max,18.000000,10.000000,25.000000,10.000000,32.000000,2.000000,2.000000,12.000000,4.000000,2.000000,129.000000